{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10){
    dd='0'+dd
    }
    if(mm<10){
    mm='0'+mm
    }

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("start").setAttribute("max", today);
    </script>
{% endblock %}
{% block body %}
    <h1>Lista</h1>
    <p>{{ date }}</p>
    <form method="post" id="datefield" action="{{ '/' }}" accept-charset="UTF-8">
        <label for="start">Start date:</label>
        <input type="date" id="start" min="2002-01-02" max="" name="trip-start">
        <button type="submit" class="btn btn-primary">Wybierz</button>
    </form>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Currency</th>
                <th>Code</th>
                <th>Mid</th>
            </tr>
            </thead>
            <tbody>
        {% for key,rate in rates %}
            <tr>
                <th scope="row">{{ key }}</th>
                <td>{{ rate.currency }} </td>
                <td> {{ rate.code }}</td>
                <td>{{ rate.mid }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}